---
import Section from "../../ui/Section.astro";
import Container from "../../ui/Container.astro";
import Heading from "../../ui/Heading.astro";
import Text from "../../ui/Text.astro";
import Badge from "../../ui/Badge.astro";
import Divider from "../../ui/Divider.astro";

import PhilosophyBento from "./PhilosophyBento.astro";
import PhilosophyPrinciples from "./PhilosophyPrinciples.astro";
import { useTranslations, getLanguageFromPath } from "../../../i18n/utils";

const lang = getLanguageFromPath(Astro.url.pathname);
const t = useTranslations(lang);
---

<Section class="relative p-16 overflow-hidden flex flex-col items-center justify-center gap-12 bg-grey-300 bg-(--color-canvas-end) z-2">

    <div class="max-w-2xl flex flex-col items-center reveal fade-in">
      <Badge variant="glow" class="mb-8 reveal up fast">
        {t("philosophy.badge")}
      </Badge>

      <Heading level={2} class="mb-4">
        {t("philosophy.title")}
      </Heading>

      <Text muted>
        {t("philosophy.description")}
      </Text>
    </div>

   
    <PhilosophyBento />

    <Divider />

    <PhilosophyPrinciples />

</Section>
