---
import BentoCard from "./BentoPhilosophyCard.astro"
import Container from "../../ui/Container.astro";
import { useTranslations, getLanguageFromPath } from "../../../i18n/utils";

const lang = getLanguageFromPath(Astro.url.pathname);
const t = useTranslations(lang);
---

<Container size="default" class="">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    
    <BentoCard
      isLarge
      title={t("philosophy.bento.masterOneMarket")}
      label={t("philosophy.bento.strategicCore")}
      image="/Philosophy-Image1.webp"
      description={t("philosophy.bento.masterOneMarketDescription")}
      class="md:col-span-2 reveal scale shadow-lg"
    />


    <BentoCard
      title={t("philosophy.bento.protectCapital")}
      label={t("philosophy.bento.security")}
      image="/Philosophy-Image3.webp"
      description={t("philosophy.bento.protectCapitalDescription")}
      class="reveal scale delay-150"
    />


   <BentoCard
      title={t("philosophy.bento.priceActionLeads")}
      label={t("philosophy.bento.execution")}
      image="/Philosophy-Image2.webp"
      description={t("philosophy.bento.priceActionLeadsDescription")}
      class="reveal scale delay-300"
    />
    
  </div>
</Container>
<script is:inline>
  const updateGlow = (e) => {
    for (const card of document.querySelectorAll(".card-glow-hover")) {
      const rect = card.getBoundingClientRect();
      card.style.setProperty("--x", `${e.clientX - rect.left}px`);
      card.style.setProperty("--y", `${e.clientY - rect.top}px`);
    }
  };
  window.addEventListener("mousemove", updateGlow);
</script>