---
import Text from "../../ui/Text.astro";
const { text, id } = Astro.props;
---

<div id={id} class="flex items-start gap-3 reveal-item from-bottom-delay-1">
  <span class="mt-1 w-1.5 h-1.5 rounded-full bg-white/60"></span>
  <Text muted>{text}</Text>
</div>
