---
// src/components/PhilosophyBento.astro
import BentoCard from "./BentoPhilosophyCard.astro"
import Container from "../../ui/Container.astro";
---

<Container size="default" class="">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    
    <BentoCard 
      isLarge
      title="Master one market. Ignore the noise."
      label="Strategic Core"
      image="/Philosophy-Image1.webp"
      description="We don’t chase signals in every corner of the forex world. We specialize. XAUUSD is our main focus, with BTC in the mix when it matters. Simplicity is a strategy."
      class="md:col-span-2 reveal scale shadow-lg"
    />


    <BentoCard 
      title="Protect your capital at all costs"
      label="Security"
      image="/Philosophy-Image3.webp"
      description="No capital, no game. Preservation is priority #1. We use tight, non-negotiable stop losses and focus on consistency over flashy wins. Small pips. Big discipline."
      class="reveal scale delay-150"
    />


   <BentoCard 
      title="Price action leads. Indicators confirm."
      label="Execution"
      image="/Philosophy-Image2.webp"
      description="We trade based on what the charts say first—clean technical analysis. Indicators come second, only to confirm the story the price is already telling."
      class="reveal scale delay-300"
    />


  </div>
</Container>
<script is:inline>
  const updateGlow = (e) => {
    for (const card of document.querySelectorAll(".card-glow-hover")) {
      const rect = card.getBoundingClientRect();
      card.style.setProperty("--x", `${e.clientX - rect.left}px`);
      card.style.setProperty("--y", `${e.clientY - rect.top}px`);
    }
  };
  window.addEventListener("mousemove", updateGlow);
</script>