---
import Section from "../ui/Section.astro";
import Container from "../ui/Container.astro";
import Badge from "../ui/Badge.astro";
import Heading from "../ui/Heading.astro";
import Text from "../ui/Text.astro";
import Button from "../ui/Button.astro";
import TelegramButton from "../ui/TelegramButton.astro";
import PhoneMockup from "../../components/PhoneMockup.astro";
import HeroGlow from "../ui/HeroGlow.astro";
import VideoBackground from "../ui/VideoBackground.astro";
import { useTranslations, getLanguageFromPath } from "../../i18n/utils";

const lang = getLanguageFromPath(Astro.url.pathname);
const t = useTranslations(lang);
---

<Section class="relative py-24 lg:py-28 overflow-hidden rounded-br-[2.5rem] bg-transparent">

 <VideoBackground
    src="/index_hero_video.mp4"
    poster="/index_hero_video.mp4"
    videoClass="w-420 h-[93.3%] rounded-br-[2.5rem] opacity-30"
  />

  <HeroGlow />

  <Container class="relative z-20">
      

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 items-center w-full max-w-7xl">
      
      <div class="flex flex-col gap-7 reveal from-bottom slow ease-out">
        <Badge class="badge-glow w-fit">{t("hero.badge")}</Badge>

        <Heading level={1} class="leading-tight max-w-xl text-white">
          <Fragment set:html={t("hero.title")} />
        </Heading>

        <Text class="max-w-xl text-slate-300">
          {t("hero.description")}
        </Text>

        <div class="flex gap-3 mt-2">
          <TelegramButton>
            {t("hero.joinUs")}
          </TelegramButton>
          <Button
          href={`${lang === "es" ? "/es" : ""}/services`}
          variant="secondary">
          {t("hero.viewServices")}
        </Button>
        </div>
      </div>

      <div class="hidden lg:flex justify-center relative z-30">
        <PhoneMockup
        src="hero_videos/hero-phone-video.mp4"
        drift="right"/>
      </div>

    </div>

    <!-- PHONE MOBILE -->
    <div
      class="
        lg:hidden mt-16 flex justify-center scale-90
        reveal from-bottom blur
      "
    >
      <PhoneMockup 
       src="hero_videos/hero-phone-video.mp4"
      drift="right"/>
    </div>

  </Container>
  
</Section>
