---
import Section from "../ui/Section.astro";
import Container from "../ui/Container.astro";
import ServicesTabsES from "../react/ServicesTabsEs.tsx";
import Badge from "../ui/Badge.astro";
import { useTranslations, getLanguageFromPath } from "../../i18n/utils";

const lang = getLanguageFromPath(Astro.url.pathname);
const t = useTranslations(lang);
---

<Section
  class=" relative lg:py-32 flex flex-col items-center justify-center gap-12 overflow-hidden h-auto lg:h-[80vh]"
>
 

  <Badge variant="gold" class="mb-4">
    {t("servicesSection.badge")}
  </Badge>
  

  <Container>
    <div
      id="services-tabs"
      class="reveal scale slow ease-out w-full"
    >
      <ServicesTabsES client:load />
    </div>
  </Container>
  
</Section>
