---
import Section from "../ui/Section.astro";
import Container from "../ui/Container.astro";
import ServicesTabs from "../react/ServicesTabs.tsx";
---

<Section class="relative py-32 overflow-hidden h-auto lg:h-[80vh]">

  <!-- Glow ambiente -->
  <div class="pointer-events-none absolute inset-0 glow-gold opacity-60"></div>

  <Container>
    <ServicesTabs client:load />
  </Container>

</Section>
