---
import Section from "../ui/Section.astro";
import Container from "../ui/Container.astro";
import ServicesTabs from "../react/ServicesTabs.tsx";
import Badge from "../ui/Badge.astro";
---

<Section class="relative py-32 flex flex-col items-center justify-center gap-12 mes overflow-hidden h-auto lg:h-[80vh]">
  
  <Badge variant="gold" class="mb-4">
       This is what we do
  
  </Badge>

  <Container>
    
    <ServicesTabs client:load />
  </Container>

</Section>
