---
import CorporateLayout from "../layouts/CorporateLayout.astro";
---

<CorporateLayout title="El DoradoFx - About">
  <section class="py-20">
    <div class="max-w-5xl mx-auto px-6">
      <h1 class="text-3xl font-bold mb-4">
        About Us
      </h1>
      <p class="text-(--color-grey-light)">
        Esta página explicará quiénes somos, nuestra visión,
        filosofía de trading y experiencia.
      </p>
    </div>
  </section>
</CorporateLayout>
