---
import CorporateLayout from "../layouts/CorporateLayout.astro";
---

<CorporateLayout title="El DoradoFx - Contact">
  <section class="py-20">
    <div class="max-w-5xl mx-auto px-6">
      <h1 class="text-3xl font-bold mb-4">
        Contact
      </h1>
      <p class="text-(--color-grey-light)">
        Aquí irá el formulario de contacto
        y los métodos para comunicarse con la empresa.
      </p>
    </div>
  </section>
</CorporateLayout>
