---
import LandingLayout from "../../layouts/LandingLayout.astro";
---

<LandingLayout title="VIP Group - El DoradoFx">
  <section class="min-h-screen flex items-center justify-center px-6">
    <div class="max-w-xl text-center">
      <h1 class="text-4xl font-bold mb-4">
        Premium Subscription
      </h1>
      <p class="text-(--color-grey-light)">
        Landing de suscripción premium.
        Aquí irá pricing, beneficios y CTA principal.
      </p>
    </div>
  </section>
</LandingLayout>
