---
import Section from "../../ui/Section.astro";
import Container from "../../ui/Container.astro";
import Text from "../../ui/Text.astro";
import TelegramButton from "../../ui/TelegramButton.astro";
import { useTranslations, getLanguageFromPath } from "../../../i18n/utils";
import Heading from "../../ui/Heading.astro";

const lang = getLanguageFromPath(Astro.url.pathname);
const t = useTranslations(lang);
---
<Section class="relative pb-40 pt-24 bg-(--color-canvas-end) overflow-hidden">
  <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-96 h-96 bg-(--color-gold) opacity-10 blur-[120px] rounded-full"></div>
  
  <Container class="relative z-10 flex flex-col items-center text-center reveal up fast">
    <div class="w-12 h-[1px] bg-(--color-gold) mb-8"></div>
    <Heading level={2} class="mb-6 text-4xl lg:text-5xl text-white tracking-tight">
      {t("finalCta.ifThisResonates")}
    </Heading>
    <TelegramButton type="channel" username="RPomaFX" class="scale-110">
      {t("finalCta.talkToUs")}
    </TelegramButton>
  </Container>
</Section>