---
import CorporateLayout from "../../layouts/CorporateLayout.astro";
---

<CorporateLayout title="El DoradoFx - Trading Solutions">
  <section class="py-20">
    <div class="max-w-5xl mx-auto px-6">
      <h1 class="text-3xl font-bold mb-4">Sobre Nosotros</h1>
      <p class="text-(--color-grey-light)">
        Aquí explicaremos quiénes somos,
        nuestra visión y filosofía de trading.
      </p>
    </div>
  </section>
</CorporateLayout>
