---
import CorporateLayout from "../../layouts/CorporateLayout.astro";
---

<CorporateLayout title="El DoradoFx - Trading Solutions">
  <section class="py-20">
    <div class="max-w-7xl mx-auto px-6">
      <h1 class="text-3xl font-bold mb-4">Servicios</h1>
      <p class="text-(--color-grey-light)">
        Aquí se mostrarán los servicios:
        señales, suscripciones y bots automáticos.
      </p>
    </div>
  </section>
</CorporateLayout>
