---
import "../styles/globals.css";
import Navbar from "../components/react/Navbar";
import Footer from "../components/sections/Footer.astro";
import ParticlesBackground from "../components/ui/ParticlesBackground.astro";
const {
  title = "El DoradoFx - Trading Solutions",
  description = "Professional trading solutions and market insights.",
} = Astro.props;

const pathName = Astro.url.pathname;

const isEspanol = pathName.startsWith("/es") || pathName.startsWith("/es/");

const lang = isEspanol ? "es" : "en";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{title}</title>
    <meta name="description" content={description} />
  </head>

  <body class="min-h-screen bg-canvas antialiased">
    <!-- HEADER -->
    <header class="">
      <Navbar client:load lang={lang}/>
    </header>

    <!-- MAIN -->
    <main class="relative">
       <ParticlesBackground count={80} color="#FFD700" />
      <slot />
    </main>

    <Footer />

  </body>
  <script>
    import { initReveal } from "../helpers/reveal";
    window.addEventListener("DOMContentLoaded", () => {
      initReveal();
    });
  </script>
</html>
