---
import Card from "../../ui/Card.astro";
import Text from "../../ui/Text.astro";
---
<div class="grid grid-cols-2 lg:grid-cols-4 gap-y-16 gap-x-12 reveal from-bottom reveal fade">

  <div>
    <Text class="text-5xl font-semibold mb-3">8+</Text>
    <Text muted class="text-xs uppercase tracking-[0.2em]">
      Years experience
    </Text>
  </div>

  <div>
    <Text class="text-3xl font-semibold mb-3">XAUUSD · BTCUSD</Text>
    <Text muted class="text-xs uppercase tracking-[0.2em]">
      Markets covered
    </Text>
  </div>

  <div>
    <Text class="text-5xl font-semibold mb-3">300+</Text>
    <Text muted class="text-xs uppercase tracking-[0.2em]">
      Signals last year
    </Text>
  </div>

  <div>
    <Text class="text-5xl font-semibold mb-3">40+</Text>
    <Text muted class="text-xs uppercase tracking-[0.2em]">
      Masterclasses
    </Text>
  </div>

</div>
