---
import Section from "../../ui/Section.astro";
import Container from "../../ui/Container.astro";
import TrustIntro from "./TrustIntro.astro";
import TrustMetrics from "./TrustMetrics.astro";
import TestimonialsCarousel from "../../react/TestimonialsCarousel.tsx";
import TraderCoins from "./TraderCoins.astro";
import { useTranslations, getLanguageFromPath } from "../../../i18n/utils";
import { ui } from "../../../i18n/ui";

const lang = getLanguageFromPath(Astro.url.pathname);
---

<Section class="relative py-8 overflow-hidden ">
  <Container>
    <div class="flex flex-col gap-20 items-center justify-center">

      <TrustIntro />
        
      <TrustMetrics />
   
      <TestimonialsCarousel client:load lang={lang as "en" | "es"} translations={ui[lang]} />

    </div>
  </Container>
</Section>
